:root {
    --mainColor: #27173a;
    --secondColor: #dd9281;
    --textColor: #333;
    --radius: 20px;
    --btnP: 12px 30px;
    --btnFont: 17px;
    --lineHeight: 28px;
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--mainColor);
}

section {
    width: 100%;
}

/* start header */

header{
    position: absolute;
    z-index: 1000;
    width: 100vw;
    padding: 1rem 3vw;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "headerLogo headerMenu headersignup";
    gap: 1rem;
    background-color: black;
}

header > a:nth-child(1){
    grid-area: headerLogo;
}

header > a:nth-child(1) img{
    width: 50px;
}

header > nav{
    grid-area: headerMenu;
    align-self: center;
}

header > nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    gap: 20px;
}

header > nav ul a{
    color: white;
    font-size: 19px;
    display: inline-flex;
    border-bottom: 2px solid black;
    transition: all ease 0.3s;
}

header > nav ul a:hover{
    color: var(--secondColor);
    border-bottom: 2px solid var(--secondColor);
}

header > a:nth-child(3){
    grid-area: headersignup;
}

header > a:nth-child(3) i{
    font-size: 25px;
    padding: 8px;
    border-radius: 1000px;
    background-color: white;
    color: black;
    transition: all ease 0.3s;
}

header > a:nth-child(3) i:hover{
    background-color: var(--secondColor);
    color: white;
}

/* end header */
/* start footer */

footer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 3rem;
    border-top: 5px solid white;
}

footer nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer nav ul li i{
    font-size: 25px;
    background-color: white;
    color: var(--mainColor);
    padding: 8px;
    border-radius: 1000px;
    transition: all ease 0.3s;
}

footer nav ul li a:hover i{
    background-color: var(--secondColor);
    color: white;
}

footer > a img{
    width: 60px;
}

footer > p{
    font-size: 18px;
    color: white;
}

/* end footer */
/* start home page */

.homePage .part1 {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.homePage .part1 img:nth-child(1) {
    position: absolute;
    left: 10%;
    top: 10vw;
    width: 45vw;
}

.homePage .part1 img:nth-child(2) {
    position: absolute;
    left: 5%;
    bottom: -18rem;
    width: 35vw;
}

.homePage .part1 img:nth-child(3) {
    position: absolute;
    left: 10%;
    top: 16%;
    width: 35vw;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translate(0, -15px); }
    50% { transform: translate(0, 15px); }
    100% { transform: translate(0, -15px); }
}

.homePage .part1 img:nth-child(4) {
    position: absolute;
    left: -2rem;
    top: -9vw;
    width: 30vw;
}

.homePage .part1 div {
    background-color: white;
    box-shadow: 0 0 50px -5px var(--secondColor);
    padding: 3vw;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    width: 40vw;
    margin-right: 8vw;
    gap: 20px;
    z-index: 2;
}

.homePage .part1 div h1 {
    font-size: 40px;
    text-transform: capitalize;
    color: black;
}

.homePage .part1 div p {
    font-size: 18px;
    line-height: var(--lineHeight);
    color: var(--textColor);
}

.homePage .part1 div a {
    padding: var(--btnP);
    border-radius: 10px;
    background-color: var(--secondColor);
    font-size: var(--btnFont);
    color: white;
    transition: all ease 0.3s;
}

.homePage .part1 div a:hover {
    background-color: var(--mainColor);
}

.homePage .part2 {
    height: 100vh;
    padding: 0 8vw;
    margin-top: 25vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "part2Heading part2Heading part2Heading part2Heading"
        "part2Box1 part2Box2 part2Box3 part2Box4";
    row-gap: 4rem;
    column-gap: 3rem;
}

.homePage .part2 h2 {
    grid-area: part2Heading;
    font-size: 50px;
    align-self: center;
    justify-self: center;
    color: white;
    text-decoration: overline;
}

.homePage .part2 div:nth-child(2) {
    grid-area: part2Box1;
}

.homePage .part2 div:nth-child(3) {
    grid-area: part2Box2;
}

.homePage .part2 div:nth-child(4) {
    grid-area: part2Box3;
}

.homePage .part2 div:nth-child(5) {
    grid-area: part2Box4;
}

.homePage .part2 div {
    background-color: #609dbe15;
    color: white;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 3vw 1vw;
    box-shadow: 0 0 20px -8px var(--secondColor);
    height: 25vw;
}

.homePage .part2 div i {
    font-size: 45px;
    color: var(--secondColor);
}

.homePage .part2 div h3 {
    font-size: 26px;
    color: var(--secondColor);
}

.homePage .part2 div p {
    font-size: 17px;
    line-height: 24px;
}

.homePage .part3 {
    background-color: var(--secondColor);
    padding: 5vw 8vw 0 8vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.homePage .part3 div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    color: white;
}

.homePage .part3 div h2 {
    font-size: 50px;
}

.homePage .part3 div p {
    font-size: 18px;
    line-height: var(--lineHeight);
}

/* end home page */
/* start signup page */

.signup,
.login {
    height: 100vh;
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "signupForm signupImage";
    background-color: white;
}

.signup > div,
.login > div {
    grid-area: signupImage;
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup > div img,
.login > div img {
    width: 60%;
    animation: float 2s ease-in-out infinite;
}

.signup > form {
    grid-area: signupForm;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "signupHeading signupHeading"
    "signupFirst signupLast"
    "signupEmail signupPass"
    "signupBtn1 signupBtn1"
    "signupBtn2 signupBtn2";
    padding: 8vw;
    height: 100vh;
    row-gap: 1.5rem;
    column-gap: 3rem;
}

.signup > form h1{
    grid-area: signupHeading;
    font-size: 40px;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--mainColor);
}

.signup > form label:nth-child(2){
    grid-area: signupFirst;
}

.signup > form label:nth-child(3){
    grid-area: signupLast;
}

.signup > form label:nth-child(4){
    grid-area: signupEmail;
}

.signup > form label:nth-child(5){
    grid-area: signupPass;
}

.signup > form > input:nth-child(6){
    grid-area: signupBtn1;
}

.signup > form > input:nth-child(7){
    grid-area: signupBtn2;
}

.signup > form label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
}

.signup > form label input{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--mainColor);
    outline: none;
    transition: all ease 0.3s;
}

.signup > form label input:focus{
    border: 2px solid var(--secondColor);
}

.signup > form input:nth-child(6),
.signup > form input:nth-child(7){
    width: 100%;
    align-self: center;
    justify-self: center;
    padding: 18px;
    font-size: 18px;
    border-radius: 10px;
    height: fit-content;
    border: none;
    margin-top: 1rem;
    background-color: var(--secondColor);
    color: white;
    transition: all ease 0.3s;
}

.signup > form input:nth-child(6):hover,
.signup > form input:nth-child(7):hover{
    opacity: 0.5;
}

.signup > form input:nth-child(7){
    margin-top: -10px;
    background-color: var(--mainColor);
}

/* end signup page */
/* start login page */

.login > form {
    grid-area: signupForm;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "signupHeading signupHeading"
    "signupEmail signupPass"
    "signupBtn1 signupBtn1"
    "signupBtn2 signupBtn2";
    padding: 10.5vw 8vw;
    height: 100vh;
    row-gap: 1.5rem;
    column-gap: 3rem;
}

.login > form h1{
    grid-area: signupHeading;
    font-size: 40px;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--mainColor);
}

.login > form label:nth-child(2){
    grid-area: signupEmail;
}

.login > form label:nth-child(3){
    grid-area: signupPass;
}

.login > form > input:nth-child(4){
    grid-area: signupBtn1;
}

.login > form > input:nth-child(5){
    grid-area: signupBtn2;
}

.login > form label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
}

.login > form label input{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--mainColor);
    outline: none;
    transition: all ease 0.3s;
}

.login > form label input:focus{
    border: 2px solid var(--secondColor);
}

.login > form input:nth-child(4),
.login > form input:nth-child(5){
    width: 100%;
    align-self: center;
    justify-self: center;
    padding: 18px;
    font-size: 18px;
    border-radius: 10px;
    height: fit-content;
    border: none;
    margin-top: 1rem;
    background-color: var(--secondColor);
    color: white;
    transition: all ease 0.3s;
}

.login > form input:nth-child(4):hover,
.login > form input:nth-child(5):hover{
    opacity: 0.5;
}

.login > form input:nth-child(5){
    margin-top: -10px;
    background-color: var(--mainColor);
}


/* end signup page */


