:root {
    --color1: #FE6C90;
    --color2: #9DD0EF;
    --color3: #9A8CE4;
    --color4: #f9c440;
    --color5: #649AF4;
    --radius: 20px;
    --btnFont: 17px;
    --titr1: 30px;
    --titr2: 20px;
    --text: 18px;
    --btnFont: 17px;
    --btnPadding: 12px 30px;
    --btnRadius: 10px;
}

@font-face {
    font-family: 'vazir';
    src: url('./assets/font/Vazir.ttf') format('ttf'),
        url('./assets/font/Vazir.woff') format('woff'),
        url('./assets/font/Vazir.woff2') format('woff2') url('./assets/font/Vazir-Bold.ttf') format('ttf'),
        url('./assets/font/Vazir-Bold.woff') format('woff'),
        url('./assets/font/Vazir-Bold.woff2') format('woff2');
}

p {
    line-height: 30px;
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    direction: rtl;
}

body {
    font-family: 'vazir', sans-serif;
    overflow-x: hidden;
}

.btnStyle {
    display: inline-flex;
    font-size: var(--btnFont);
    padding: var(--btnPadding);
    border-radius: 9px;
    border: none;
    background: linear-gradient(90deg, #FE6C90, #f9c440);
    color: white;
    cursor: pointer;
    transition: all ease 0.3s;
}

.btnStyleBox {
    padding: 2px;
    background: linear-gradient(90deg, #FE6C90, #f9c440);
    border-radius: var(--btnRadius);
    transition: all 0.3s ease;
}

.btnStyleBox::before {
    border-radius: var(--btnRadius);
    transition: all 0.3s ease;
}

.btnStyleBox:hover::before {
    background: linear-gradient(90deg, #FE6C90, #f9c440);
}

.btnStyle:hover {
    background: white;
    color: black;
}

@keyframes float {
    0% {
        transform: translate(0, -10px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, -10px);
    }
}

/* start header */

header {
    z-index: 1000;
    position: fixed;
    width: 90vw;
    padding: 10px 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color4);
    right: 50%;
    transform: translate(50%, 0);
    border-radius: var(--radius);
    margin-top: 1rem;
}

header .logo {
    width: 50px;
    border-radius: var(--btnRadius);
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
}

header nav ul a {
    color: white;
    border-bottom: 2px solid var(--color4);
    padding-bottom: 5px;
    transition: all ease 0.3s;
}

header nav ul a:hover {
    border-bottom: 2px solid black;
    color: black;
}

header>a:nth-child(1) {
    font-size: 45px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
}

header>a:nth-child(1):hover {
    color: black;
}

header>a:nth-child(3) {
    display: inline-flex;
}

/* end header */
/* start footer */

footer {
    width: 100vw;
    padding: 3rem 0 1.5rem 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

footer>a img {
    width: 80px;
}

footer nav ul {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

footer nav ul a {
    display: inline-flex;
    padding: 5px;
    background: linear-gradient(90deg, #FE6C90, #f9c440);
    color: white;
    border-radius: 1000px;
}

footer nav ul a:hover {
    background: white;
    color: var(--color1);
}

footer nav ul a i {
    font-size: 25px;
}

/* end footer */
/* start homePage */

.homePage .part1 {
    width: 100vw;
    height: 100vh;
    padding: 0 6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.homePage .part1 div:nth-child(1) {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: right;
    color: white;
    gap: 10px;
}

.homePage .part1 div:nth-child(1) h1 {
    font-size: var(--titr1);
    color: black;
}

.homePage .part1 div:nth-child(1) h2 {
    font-size: var(--titr2);
    color: var(--color1);
    margin-bottom: 1rem;
}

.homePage .part1 div:nth-child(1) p {
    font-size: var(--text);
    color: black;
}

.homePage .part1 div:nth-child(1) div {
    margin-top: 1rem;
}

.homePage .part1 div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/img/back\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: contain;
    width: 35%;
}

.homePage .part1 div:nth-child(2) img {
    width: 30vw;
    animation: float 2s ease-in-out infinite;
}

.homePage .part2 {
    width: 100vw;
    height: 100vh;
    padding: 0 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.homePage .part2 aside {
    width: 100%;
    padding: 2px;
    border-radius: var(--radius);
    background: linear-gradient(90deg, #FE6C90, #f9c440);
}

.homePage .part2 aside div {
    height: 100%;
    min-height: 400px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border-radius: 18px;
    padding: 2rem;
}

.homePage .part2 aside div i {
    font-size: 50px;
    color: var(--color1);
}

.homePage .part2 aside div h2 {
    font-size: var(--titr2);
    color: var(--color1);
}

.homePage .part2 aside div p {
    font-size: 15px;
}

.homePage .part3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0 6vw;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
}

.homePage .part3 div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: right;
    color: black;
    gap: 20px;
}

.homePage .part3 div h2 {
    font-size: var(--titr1);
    color: var(--color1);
}

.homePage .part3 div p {
    display: inline-flex;
    font-size: var(--text);
    border-right: 2px solid var(--color1);
    padding-right: 15px;
}

.homePage .part3 img {
    width: 20vw;
    animation: float 5s ease-in-out infinite;
}

.homePage .part4 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 20vw;
}

.homePage .part4 aside {
    padding: 1px;
    border-radius: var(--radius);
    background: linear-gradient(90deg, #f9c440, #FE6C90);
}

.homePage .part4 .accordion-item {
    background-color: white;
    border-radius: var(--radius);
}

.homePage .part4 .accordion-header {
    background-color: white;
    color: black;
    padding: 15px 30px;
    cursor: pointer;
    position: relative;
    transition: background 0.1s ease;
    font-size: var(--titr2);
    border-radius: var(--radius);
    transition: all ease 0.3s;
}

.homePage .part4 .accordion-header:hover {
    background-color: #fe6c9084;
}

.homePage .part4 .accordion-header::after {
    color: var(--color1);
    content: '▼';
    position: absolute;
    left: 20px;
    transition: transform 0.1s ease;
}

.homePage .part4 .accordion-header.active::after {
    transform: rotate(180deg);
}

.homePage .part4 .accordion-content {
    max-height: 0;
    overflow: hidden;
    background-color: white;
    padding: 0 30px;
    transition: max-height 0.5s ease, padding 0.5s ease;
    border-radius: var(--radius);
}

.homePage .part4 .accordion-content p {
    font-size: var(--text);
    margin: 15px 0 40px 0;
}

.homePage .part4 .accordion-content.open {
    padding: 15px 20px;
}

.homePage .part4>img:nth-child(5) {
    position: absolute;
    bottom: 0;
    left: 5vw;
    width: 150px;
    animation: float 4s ease-in-out infinite;
}

.homePage .part4>img:nth-child(6) {
    position: absolute;
    bottom: 5vh;
    right: 10vw;
    width: 100px;
    animation: float 3s ease-in-out infinite;
}

.homePage .part4>img:nth-child(7) {
    position: absolute;
    top: 5vh;
    right: 0;
    width: 170px;
    animation: float 4s ease-in-out infinite;
}

.homePage .part4>img:nth-child(8) {
    position: absolute;
    top: 15vh;
    left: 5vw;
    width: 160px;
    animation: float 5s ease-in-out infinite;
}

.homePage .part5 {
    width: 100vw;
    padding: 7vw 12vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--color1);
}

.homePage .part5>div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 60%;
}

.homePage .part5>div h2 {
    font-size: var(--titr1);
    color: white;
}

.homePage .part5>div p {
    font-size: var(--text);
    color: white;
}

.homePage .part5>div a {
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all ease 0.3s;
}

.homePage .part5>div a:hover {
    gap: 10px;
}

.homePage .part5>div a i {
    font-size: 30px;
}

.homePage .part5 img {
    width: 40%;
}

.homePage .part6 {
    width: 100vw;
    padding: 4vw 6vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "part6Heading part6Heading part6Heading"
        "part6Box3 part6Box2 part6Box1";
    row-gap: 2rem;
    column-gap: 2rem;
    align-self: center;
    justify-self: center;
}

.homePage .part6 h2 {
    grid-area: part6Heading;
    text-align: center;
    font-size: var(--titr1);
    color: var(--color1);
}

.homePage .part6>div:nth-child(3) {
    grid-area: part6Box1;
}

.homePage .part6>div:nth-child(4) {
    grid-area: part6Box2;
}

.homePage .part6>div:nth-child(5) {
    grid-area: part6Box3;
}

.homePage .part6>div {
    width: 100%;
    padding: 2px;
    border-radius: var(--radius);
    background: linear-gradient(90deg, #f9c440, #FE6C90);
}

.homePage .part6>div>aside {
    background-color: white;
    border-radius: var(--radius);
    height: 100%;
    padding: 15px;
}

.homePage .part6>div>aside>span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 19px;
    padding: 0.5rem 15px;
}

.homePage .part6>div>aside>b {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    padding: 0 10px;
    font-size: 22px;
}

.homePage .part6>div>aside>b span {
    font-size: 40px;
    color: var(--color4);
}

.homePage .part6>div>aside .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: var(--radius);
    background-color: #fe6c902b;
    padding: 1rem;
    text-align: center;
}

.homePage .part6>div>aside ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: right;
    gap: 10px;
    padding: 15px;
}

.homePage .part6>div>aside a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color4);
    color: white;
    padding: 10px;
    border-radius: var(--btnRadius);
    transition: all ease 0.3s;
}

.homePage .part6>div>aside a:hover {
    background-color: black;
}

/* end homePage */
/* start profile page */

.profile {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "sidebar content content content";
}

.profile .sidebar {
    grid-area: sidebar;
    height: 100vh;
    padding: 15px;
}

.profile .sidebar div {
    width: 100%;
    background-color: #f9c44078;
    border-radius: var(--radius);
    padding: 10px 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "sidebarImage sidebarUserName"
        "sidebarImage sidebarEdit";
    column-gap: 15px;
}

.profile .sidebar div img {
    grid-area: sidebarImage;
    width: 60px;
    height: 60px;
    padding: 5px;
    background-color: white;
    border: 5px solid black;
    border-radius: 1000px;
    object-fit: cover;
}

.profile .sidebar div span {
    grid-area: sidebarUserName;
    font-size: 18px;
}

.profile .sidebar div a {
    grid-area: sidebarEdit;
    font-size: 14px;
    color: black;
    transition: all ease 0.3s;
}

.profile .sidebar div a:hover {
    color: white;
}

.profile .sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: center;
    border-radius: var(--radius);
    background-color: #f9c44078;
    padding: 15px;
}

.profile .sidebar ul li {
    cursor: pointer;
    text-align: right;
    width: 100%;
    padding: 0.75rem 1rem;
    color: black;
    transition: all ease 0.3s;
}

.profile .sidebar ul li:hover {
    background-color: black;
    color: white;
    border-radius: var(--btnRadius);
}

.profile .content {
    grid-area: content;
    color: black;
    padding: 15px 5px 15px 15px;
}

.profile .content section {
    padding: 1rem 2rem;
    border-radius: var(--radius);
    border: 2px solid var(--color4);
    height: 100%;
    flex-direction: column;
}

.profile .content section h2 {
    color: black;
    font-size: var(--titr1);
    margin-bottom: 2rem;
}

.profile .content section.part2 table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile .content section.part2 table thead {
    width: 100%;
}

.profile .content section.part2 table thead tr {
    display: grid;
    grid-template-columns: 50px 1fr 1fr auto auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "row phrase answer edit delete";
    gap: 20px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}

.profile .content section.part2 table thead th:nth-child(1) {
    grid-area: row;
}

.profile .content section.part2 table thead th:nth-child(2) {
    grid-area: phrase;
}

.profile .content section.part2 table thead th:nth-child(3) {
    grid-area: answer;
}

.profile .content section.part2 table thead th:nth-child(4) {
    grid-area: edit;
    justify-content: center;
}

.profile .content section.part2 table thead th:nth-child(5) {
    grid-area: delete;
    justify-content: end;
}

.profile .content section.part2 table thead tr th {
    display: flex;
    align-items: center;
}

.profile .content section.part2 table tbody {
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.profile .content section.part2 table tbody tr {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 37px 37px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "row phrase answer edit delete";
    gap: 20px;
    padding: 10px 15px;
    border-radius: 10px;
}

.profile .content section.part2 table tbody tr td:nth-child(1) {
    grid-area: row;
}

.profile .content section.part2 table tbody tr td:nth-child(2) {
    grid-area: phrase;
}

.profile .content section.part2 table tbody tr td:nth-child(3) {
    grid-area: answer;
}

.content section.part2 table tbody tr td:nth-child(4) {
    grid-area: edit;
    justify-content: center;
}

.profile .content section.part2 table tbody tr td:nth-child(5) {
    grid-area: delete;
    justify-content: end;
}

.profile .content section.part2 table tbody tr td {
    display: flex;
    align-items: center;
}

.profile .content section.part2 table tbody tr td i {
    font-size: 22px;
    cursor: pointer;
}

.profile .content section.part2 table tbody tr td i.delete {
    color: red;
    font-size: 30px;
}

.profile .content section.part2 form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 2rem;
    gap: 20px;
}

.profile .content section.part2 form label {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.profile .content section.part2 form label h3 {
    white-space: nowrap;
    font-size: 16px;
}

.profile .content section.part2 form label input {
    border: 2px solid var(--color4);
    padding: 10px 15px;
    border-radius: 10px;
    width: 100%;
}

.profile .content section.part2 form>input {
    margin-right: auto;
    padding: 10px 50px;
    border: none;
    border-radius: var(--btnRadius);
    background-color: var(--color4);
    font-size: 16px;
    font-family: 'vazir', sans-serif;
    transition: all ease 0.3s;
}

.profile .content section.part2 form>input:hover {
    background-color: black;
    color: white;
}

/* end profile page */

@media only screen and (max-width: 1200px) {

    :root {
        --titr1: 26px;
        --titr2: 20px;
    }

    .homePage .part1 {
        flex-direction: column;
        height: auto;
        padding-top: 7rem;
    }

    .homePage .part1 div:nth-child(1) {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .homePage .part1 div:nth-child(2) {
        display: none;
    }

    .homePage .part2 {
        flex-direction: column;
        height: auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .homePage .part2 aside div {
        min-height: unset;
    }

    .homePage .part3 {
        height: auto;
    }

    .homePage .part3 img {
        display: none;
    }

    .homePage .part4>img:nth-child(5) {
        width: 120px;
    }

    .homePage .part4>img:nth-child(6) {
        width: 80px;
    }

    .homePage .part4>img:nth-child(7) {
        width: 150px;
    }

    .homePage .part4>img:nth-child(8) {
        width: 100px;
    }

    .homePage .part5 {
        width: 100vw;
        padding: 3rem
    }

    .homePage .part6 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        grid-template-areas:
            "part6Heading part6Heading"
            "part6Box2 part6Box1"
            "part6Box3 part6Box3";
    }
}

@media only screen and (max-width: 700px) {
    header {
        position: relative;
    }

    .homePage .part1 {
        padding-top: 3rem;
    }

    .homePage .part4 {
        height: auto;
        padding: 4rem 6vw;
    }

    .homePage .part4 img {
        width: 50px;
    }

    .homePage .part4>img:nth-child(5) {
        width: 35px;
    }

    .homePage .part4>img:nth-child(6) {
        width:35px;
    }

    .homePage .part4>img:nth-child(7) {
        width: 35px;
    }

    .homePage .part4>img:nth-child(8) {
        width: 35px;
    }

    .homePage .part5{
        flex-direction: column;
    }

    .homePage .part5 div{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .homePage .part5 img {
        width: 60%;
        margin-top: 2rem;
    }

    .homePage .part6{
        display: flex;
        flex-direction: column;
    }

}